@charset 'UTF-8';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #eeeeee;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
}

html{
    font-family: 'Source Sans Pro', sans-serif;
}

a{
    text-decoration: none;
}

.navbar{
    border-bottom: 1px solid #535353;
    background-color: rgb(148, 174, 207);
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
    /* border: 1px solid #ecc8e3; */
}

li{
    text-align: center;   
}

.navbar__logo{
    margin: 0.7em;
    width: 110px;
    height: 45px;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    width: 80%;
    margin: auto;
    /* cards com o mesmo tamanho e largura */
}

.container__img__text{
    flex-basis: 200px;
    display: flex;
    flex-direction: column;
    margin: 0.8em;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,.5);
    background-color: rgb(255,255,255);
    border: 2px solid rgb(245, 245, 245);  
}

.container__img__text:hover{
    /* -o-border-image:-o-linear-gradient(50deg,rgb(255, 238, 4), #0eda1f, rgb(12, 143, 219)) 10; */
        /* border-image:linear-gradient(50deg,rgb(255, 238, 4), #0eda1f, rgb(12, 143, 219)) 10; */
    -o-border-image:-o-linear-gradient(50deg, rgb(12, 165, 192), rgb(243, 207, 44), rgb(236, 43, 78)) 10; 
    border-image: linear-gradient(50deg, rgb(11, 159, 185), rgb(241, 183, 24), rgb(236, 43, 78)) 10; 
    -webkit-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
}

.container__img{
    text-align: center;
    background-color: rgb(255, 255, 255);
    padding: 0.4em;
}

.container__img__picture{
    width: 100px;
    height: 100px;
}

.container__text{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0.5em;
    flex-basis: 100%; 
    /* background cinza pega todo o container */
    border-top: 2px solid rgb(231, 231, 231);
    background-color: rgb(231, 231, 231);
}

.container__text__title, .h__content__detail__header__text{

    color: rgb(71, 71, 71);
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    text-align: center;
}

.container__text__title{
    font-size: 0.8em;
    font-weight: 400;
}

.container__text__subtext{
    margin: 0.5em;
    font-size: 0.95em;
    font-weight: 600;
    letter-spacing: 1px;
}

.container__text__subtext, .h__content__detail__header__title{

    color: #000;
    text-transform: capitalize;
    text-align: center;
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
}

.container__text--active{
    font-size: 0.7em;
}

.container__text--active, .content__detail__header--active{
    max-width: 45%;
    margin: 0.5em;
    padding: 0.4em 0.7em;
    letter-spacing: 1px;
    border-radius: 10px;
    text-align: center;
    color: rgb(9, 45, 146);
    background-color: rgb(250, 214, 10);
}

.container__text__btn{
    background-color: transparent;
    font-size: 0.7em;
    border: none;
    /* border-bottom: 1px solid rgb(223,18,97); */
    color: rgb(223, 18, 97);
    /* , #0eda1f, rgb(12, 143, 219)) 10; */
    align-self: flex-end;
    margin-right: 0.7em;
    cursor: pointer;
}

.container__text__btn:hover{
    color: rgb(10, 10, 10);
    /* border-bottom: 1px solid rgb(10, 10, 10); */
}

/* modificar ordem  dos cards */
.container__text__title{
    order: 1;
}

.container__text__subtext{
    order: 2;
}

.container__text--active{
    order: 3;
}

.container__text__btn{
    order: 4;
}


/* modal */

 /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    /* flex-direction: column; */
    position: fixed; /* Stay in place */
    top: 0;
    left: 0;
    z-index: 1; /* Sit on top */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    /* overflow: hidden; Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
  /* Modal Content/Box */
.modal__content {
    position: relative;
    background-color: #fff;
    margin: 20px auto;
    padding: 0;
    border: 1px solid #888;
    width: 90%;
    height: 90%;
    overflow: auto;
    background: rgb(229,229,229);
    background: linear-gradient(75deg, rgba(229,229,229,1) 0%, rgba(121,187,199,1) 24%, rgba(216,160,170,1) 53%, rgba(231,231,231,1) 100%); 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    transition: all 0.4s;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;

}
  
  /* Fechar Button */
.modal__close {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 0.3em;
    border: 1px solid rgb(255, 255, 255);
    background-color: black;
    color: rgb(255,255,255);
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s ease;
}

.modal__close:hover,
.modal__close:focus {
    border: 1px solid black;
    color: black;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
} 


/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
from {top:-300px; opacity:0}
to {top:0; opacity:1}
}


/* footer */

.footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 15vh;
    padding: 1em;
    /* border: 1px solid lightgreen; */
}

.first, .prev, .current, .next, .last {
    /* border: 1px solid (44, 44, 44); */
    background-color: transparent;
    border: none;
    color: rgb(34, 34, 34);
    /* color: rgb(255, 255, 255); */
    margin-left: 0.4em;
    padding: 1em;
}

.first, .prev, .next, .last{
    cursor: pointer ;
}

.first:hover, .prev:hover, .next:hover, .last:hover{
    color: rgb(49, 132, 153);
}



/* estilizando modal */


.all__content{
    background: rgb(229,229,229);
    background: linear-gradient(75deg, rgba(229,229,229,1) 0%, rgba(121,187,199,1) 24%, rgba(216,160,170,1) 53%, rgba(231,231,231,1) 100%); 
}


.h__content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    /* padding:0.6em; */
    background: rgb(229,229,229);
    background: linear-gradient(145deg, rgba(229,229,229,1) 0%, rgba(121,187,199,1) 24%, rgba(216,160,170,1) 53%, rgba(231,231,231,1) 100%); 
    /* border: 1px solid goldenrod; */
    /* border: 2px solid purple; */
}

.h__content__img{
    max-width: 45%;
    background-color: #ffffffbe;
    border-radius: 50%;
    margin: 0.6em auto;
    box-shadow: 2px 3px 3px 2px rgba(0, 0, 0, 0.603);
    /* border: 2px solid rgb(187, 139, 35); */
    /* margin: auto; */
}

.h__content__img__picture{
    width: 180px;
    height: 180px;
}

.h__content__detail{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1.25em;
    /* tirar no  mobile */
    /* border: 2px solid rgb(44, 157, 202); */
    max-width: 55%;
    /* border: 1px solid red; */
    /* box-shadow: 0 4px 5px 0 rgba(0,0,0,.5); */
}

/* .content__detail__header{
    border-radius: 25%;
    /* display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    border: 1px solid rgb(125, 241, 125);
} */

.content__detail__header__text{
    order: 1;
    color: rgb(71, 71, 71);
    margin-right: 1em;
    font-size: 1.25em; 
}

.content__detail__header__title{
    order: 2;
    color: #000;
    text-transform: capitalize;
    /* text-align: center; */
    margin-right: 0.8em;
    font-size: 1.25em;
}

.content__detail__header--active{
    font-size: 0.7em;
    order: 3;
}

.content__detail__header, .content__detail__body, .content__detail__footer{
    /* border: 1px solid rgb(130, 130, 241); */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0.5em;
    text-align: center;
    /* border-radius: 15px; */
}

.content__detail__body__title{
    font-size: 1em;
}

.content__detail__body__text{
    font-size: 1em;
    color:rgb(71, 71, 71);
    /* font-weight: 300; */
}

.content__detail__body__title, .content__detail__body__text{
    padding-left: 0.6em;
}


.content__detail__footer__title{
    font-size: 0.9em;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    letter-spacing: 1px;
    /* word-spacing: 1px; */
}

.s__content{
    padding: 0.5em;
    text-align: center;
    /* border: 3px solid rgb(189, 14, 189); */
    /* justify-content: center; */
    /* align-items: center; */
}

.s__content__stat{
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap; */
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center; */
    /* margin: auto ; */
    margin: 0.5em auto;
    max-width: 75%;
    /* border: 1px solid rgb(92, 218, 43); */
}

.stat-container, .effort-container{
    /* margin: auto; */
    /* border-radius: 20px; */
    max-width: 100%;
    background-color: #ddd;
    border: 1px solid rgb(172, 172, 172);
    text-align: center;
    box-shadow: 1px 3px 3px 1px rgba(0,0,0,.5);
}


.s__content__text{
    font-size: 1em;
    letter-spacing: 1px;
    text-align: center;
    margin: 0.5em;
    /* max-width: 50%; */
    /* border: 1px solid; */
}

.skills__stat{
    font-size: 0.9em;
    padding-top: 3px;
    padding-bottom: 3px;
    /* font-weight: 600; */
    /* border-radius: 35px 0 0 35px; */
    color: rgb(255, 255, 255);
    text-align: center;
}

.a__content__group__title {
    margin: 1em;
    max-width: 15%;
    text-align: center;
    letter-spacing: 1px;
    border-top: 5px solid #000;
}

/* .s__content__text, .a__content__text, .e__content__text{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
} */

.a__content__group__text {
    font-weight: 300;
    margin: 0.7em auto;
    max-width: 50%;
    /* border-radius: 20px; */
    /* border: 1px solid #000; */
    /* padding: 0.3em; */
    /* border-bottom: 1px solid black; */
}

/* .s__content, .a__content, .e__content{
    max-width: 70%;
} */

.a__content {
    display:  flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    /* width: 70%; */
    /* border: 1px solid rgb(27, 226, 183); */
}

.h__content__detail, .a__content, .s__content {
    /* border-radius: 25px; */
    max-width: 60%;
    /* margin: auto; */
    margin: 1em auto;
    box-shadow: 2px 4px 5px 2px rgba(0,0,0,.5);
}

.a__content__group {
    margin: 0.5em;
    flex: 1;
}

.a__content__group--active{
    height: 120px;
    border-left: 1px solid rgb(196, 196, 196);
}

/* .a__content__group, .e__content__evolution{

    border-left: 1px solid rgb(196, 196, 196);
    
} */

.a__content__group__text {
    /* text-align: center; */
    text-align: center;
    letter-spacing: 1px;
}
/* 
.e__content__evolution{
    border: 1px solid rgb(20, 10, 213);
} */


.content__detail__header, .s__content, .h__content__detail, .h__content, .a__content{
    background-color: #fff;
    /* margin: 20px; */
}

/* add classe para persnolizar de acordo com pokemon */

.skillDetailEffort{
    width: 100%;
    color: #000;
}
   

@media (max-width: 600px){

    .h__content__detail{
        max-width: 100%;
    }
    .s__content, .a__content{
        max-width: 90%;
    }

    .a__content__group--active{
        border: none;
    }

}
